In [1]:
import pandas as pd

In [2]:
data_df=pd.read_csv("..//Coburg_Intruision_Detection/CIDDS-001-external-week1.csv")

In [3]:
data_df.head()

,Date first seen,Duration,Proto,Src IP Addr,Src Pt,Dst IP Addr,Dst Pt,Packets,Bytes,Flows,Flags,Tos,class,attackType,attackID,attackDescription
0,2017-03-14 17:43:57.172,81412.697,TCP,EXT_SERVER,8082,OPENSTACK_NET,56978.0,3057,2.1 M,1,.AP...,0,normal,---,---,---
1,2017-03-14 17:43:57.172,81412.697,TCP,OPENSTACK_NET,56978,EXT_SERVER,8082.0,4748,2.5 M,1,.AP...,0,normal,---,---,---
2,2017-03-14 17:43:26.135,81504.787,TCP,EXT_SERVER,8082,OPENSTACK_NET,56979.0,8639,9.1 M,1,.AP...,0,normal,---,---,---
3,2017-03-14 17:43:26.135,81504.787,TCP,OPENSTACK_NET,56979,EXT_SERVER,8082.0,12024,10.3 M,1,.AP...,0,normal,---,---,---
4,2017-03-14 18:17:09.005,82100.692,TCP,EXT_SERVER,8082,OPENSTACK_NET,51649.0,11012,27.2 M,1,.AP.S.,0,normal,---,---,---

In [4]:
data_df.tail()

,Date first seen,Duration,Proto,Src IP Addr,Src Pt,Dst IP Addr,Dst Pt,Packets,Bytes,Flows,Flags,Tos,class,attackType,attackID,attackDescription
172833,2017-03-16 11:42:01.298,518988.907,TCP,OPENSTACK_NET,49939,EXT_SERVER,8082.0,17446,10.6 M,1,.APRS.,0,normal,---,---,---
172834,2017-03-16 12:10:17.340,517292.865,TCP,EXT_SERVER,8082,OPENSTACK_NET,58749.0,9406,3.4 M,1,.AP.S.,0,normal,---,---,---
172835,2017-03-16 12:10:17.340,517292.865,TCP,OPENSTACK_NET,58749,EXT_SERVER,8082.0,15510,10.3 M,1,.APRS.,0,normal,---,---,---
172836,2017-03-16 15:52:58.342,503931.863,TCP,EXT_SERVER,8082,OPENSTACK_NET,62605.0,13362,5.2 M,1,.AP.S.,0,normal,---,---,---
172837,2017-03-16 15:52:58.342,503931.863,TCP,OPENSTACK_NET,62605,EXT_SERVER,8082.0,20262,17.8 M,1,.APRS.,0,normal,---,---,---

In [5]:
data_df.shape

(172838, 16)

In [6]:
data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 172838 entries, 0 to 172837
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Date first seen    172838 non-null  object
 1   Duration           172838 non-null  float64
 2   Proto              172838 non-null  object
 3   Src IP Addr        172838 non-null  object
 4   Src Pt             172838 non-null  int64
 5   Dst IP Addr        172838 non-null  object
 6   Dst Pt             172838 non-null  float64
 7   Packets            172838 non-null  int64
 8   Bytes              172838 non-null  object
 9   Flows              172838 non-null  int64
 10  Flags              172838 non-null  object
 11  Tos                172838 non-null  int64
 12  class              172838 non-null  object
 13  attackType         172838 non-null  object
 14  attackID           172838 non-null  object
 15  attackDescription  172838 non-null  object
dtypes: float64(2), int64(4), object(10)
memory usage: 21.1+ MB

In [7]:
data_df[data_df.duplicated()]

Empty DataFrame
Columns: [Date first seen, Duration, Proto, Src IP Addr, Src Pt, Dst IP Addr, Dst Pt, Packets, Bytes, Flows, Flags, Tos, class, attackType, attackID, attackDescription]
Index: []

In [8]:
data_df.isna().sum()

Date first seen      0
Duration             0
Proto                0
Src IP Addr          0
Src Pt               0
Dst IP Addr          0
Dst Pt               0
Packets              0
Bytes                0
Flows                0
Flags                0
Tos                  0
class                0
attackType           0
attackID             0
attackDescription    0
dtype: int64

In [9]:
data_df['attackType'].unique()

array(['---'], dtype=object)

In [10]:
data_df['attackDescription'].unique()

array(['---'], dtype=object)

In [11]:
data_df['class'].unique()

array(['normal', 'suspicious', 'unknown'], dtype=object)

Observations from dataset: -

1. The dataset has 1,72,838 rows and 16 columns.
2. There are no null values in the dataset.
3. The numerical fields are raw and not normalized.
4. There are no duplicate records in the dataset.
5. The target feature: class, has three types of values: normal, suspicious, unknown.